# docs: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: Test formulae

on:
  push:
    branches: ["main", "master", "next"]
  pull_request:
    types: [opened, edited]  # needed to force run when PR is created by a bot
  schedule:
    - cron: '42 23 * * 0'
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

jobs:
  test-formula:
    name: "Test Formula: ${{ matrix.f_subject }}"
    runs-on: macos-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        f_subject:
          - cli
          - gomod
    env:
      TAP_TESTING: 'homebrew-local/testing'
      F_SUBJECT: ${{ matrix.f_subject }}
    steps:
      - name: enable brew dev mode
        run: brew developer on
      - name: brew upgrade 
        run: |
          set -eux
          brew upgrade
          brew --version
      - name: Checkout
        # see https://github.com/actions/checkout
        uses: actions/checkout@v4
      - name: brew tap formula
        run: |
          set -eux
          brew tap-new "$TAP_TESTING" --no-git
          ln -s "$PWD/Formula/cyclonedx-${F_SUBJECT}.rb" "$(brew --repo "$TAP_TESTING")"/Formula/
          # sym-link works on macos - everywhere else use copy ...
      - name: Test Formula
        run: |
          set -eux
          FORMULA="${TAP_TESTING}/cyclonedx-${F_SUBJECT}"
          brew install --build-from-source "$FORMULA"
          brew deps "$FORMULA"
          brew test --verbose "$FORMULA"
          brew uninstall "$FORMULA"
      - name: Audit Formula
        run: brew audit --stric --online "${TAP_TESTING}/cyclonedx-${F_SUBJECT}"
